* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #000;
  width: 80%;
  margin: auto;

}
header {

  margin-bottom: 60px;
  margin-top: 30px;
}



/* .container-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
} */
img {
  display: block;
  width: 100%;
}
.gallery-item {
  width: 33.3%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery {
  max-width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
